{% extends "orders/base.html" %}

{% block content %}
    <main>
        <h1 class="mt-4">Новый заказ</h1>
        <form action="{% url 'orders:order_update' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Пользователь:
                    {% if user.first_name %}
                    {{ user.first_name|title}}
                    {% else %}
                    Анонимный пользователь
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {{ orderitems.management_form }}
                            {% for form in orderitems.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tbody>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>
                                               {% if forloop.first %}
                                                   {% for hidden in form.hidden_fields %}
                                                       {{ hidden }}
                                                   {% endfor %}
                                               {% endif %}
                                               {{ field.errors.as_ul }}
                                               {{ field }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-12" style="margin-top: 33px;">
                    <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                </div>
            </div>
        </form>
    </main>
{% endblock %}